body{
    background: #f1f1f1;
    color: #000;                /* body background color*/
    /*-webkit-text-size-adjust: 100%; later...*/

}

.top-header{      
    background-image: url(/assets/background_image_4.jpg);      /* top-header with background image*/
    text-align: center;
}

a{   
    max-width: 100%;
    border-radius: 17px;
    margin-top: 8px;
    padding-left: 8px;      /* are all these for now? i think not */
    padding-right: 8px;
    z-index: 1;
    text-decoration: none;
}

.top-header > h1{
    color:rgb(2, 2, 2);
    letter-spacing: 4px;
    text-shadow: 2px 2px 5px red; /* it will get fixed if needed*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*style for h2 in index-home page*/
main > h2{
    text-align: center;
    font-size: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main > p{
    font-size: 1em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul, ul > li{
    list-style-position: inside;
    list-style-type: none;
    margin: 0;      /*remove defaults from browser change it later*/
    padding: 0;
}

a:link{
    color:white;
}

a:visited{
    color:white; 
}

a:hover{
    background-color: rgb(0, 68, 255);
}

a:active{
    background-color: #f1f1f1;
}

.logo{
    border: 3px solid black
}

#main-content{
    text-align: center;
}

#navigation-categories-bar{

    background-color: rgb(185, 180, 180);
    border-style:hidden;
    /*
    margin-left: 40%;
    margin-right: 40%;
    display:inline-block;
    position:relative;
    line-height: 15px;  ideas for later...
    width: 213px;
    border-radius: 5px;
    padding: 0 16px 20px;
    overflow: hidden;
    */
}

.products-list{
    display: flex;
    flex-flow: row wrap;
    margin: 0.3125rem;
}

.products-list li{
    margin: 0.3125rem;
    padding: 0;
    list-style: none;
    border: 1px solid #e0e0e0;
    border-radius: 0.3125rem;
}

.products-list .product{
    background-color: #f1f1f1;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    position: relative;
}

.products-list .product .product-item-inner-box{
    height: 100%;
    flex-direction: column;
    display: flex;
    overflow: visible;
    position: relative;
    justify-content: flex-end;
}

.products-list .product .product-item-inner-box .product-item-inner-box-top-part{
    flex-grow: 1;
}

.products-list .product .product-item-image{
    position: relative;
}

.products-list .product .product-item-image a{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 auto 1.25rem;
    width: 100%;
    background-color: #f9f9f9;
}

.products-list .product .product-title{
    text-align: left;
    word-break: break-word;
    margin-top: 0.9775rem;
    max-height: 1.5rem;
    overflow: hidden;
}

.products-list .product .product-title a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-size: 0.8125rem;
    line-height: 0.8125rem;
    color: #000;
    font-weight: 400;
    overflow: hidden;
    background-color: #f9f9f9;
}

.products-list .product .product-item-inner-box .product-code-review-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.75rem;
}

.products-list .product .product-item-inner-box .product-code-review-wrapper .product-review{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 0;
}

.product .product-review{
    position: relative;
    text-align: center;
}

.checked{
    color: orange;
}

.products-list .product .product-code{
    display: inline-block;
    font-size: 0.75rem;
    color: #8a8a8a;
    margin-left: 10px;
}

.products-list .product .product-item-inner-box .product-price{
    margin: 0.5625rem 0 0.6875rem;
    background-color: #f1f1f1;
    position: static;
    width: 100%;
    height: unset;
}

#creators-bio > h2{
    text-align: center;
    font-size: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*style to create column like look for the bios*/
#developer{
    float: left;
    width: 50%;
    margin-bottom: 10px;
}

/* Clear floats after the columns */
#developer::after{
    content: "";
    display: table;
    clear: both;
}

#developer > img{
    float: left;
    margin-right: 10px;
}

/*style for footer*/
.page-footer{
    background-image: url(/assets/background_image_4.jpg);
    padding-right: 0.625rem;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    max-width: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    clear: both;
}

/*style for images in footer in order to put them in a row*/
.row-footer{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   list-style: none;
   margin: 0;
}
/*color for paragraph in footer*/
.page-footer > p{
    color: white;
}
/*style for links in footer area*/
.page-footer a{
    text-decoration: none;
    border-radius: 17px;
    max-width: 100%;
}

/*style for pictures in footer area*/
.row-footer > li{
    margin: 3px;
}